html {
    box-sizing: border-box;
}
.nav-link {
    font-size: 12px;
}
.navbar p, .dropdown-item {
    font-size: 12px;
}
.product p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.fa-angrycreative {
    font-size: 36px;
}
.navbar {
    border: solid 1px #ddd;
    background-color: white;
}
.capitalize {
    text-transform: capitalize;
}
img {
    height: 400px;
    width: 300px;
    object-fit: cover;
}
.divider {
    border-top: 1px solid #ddd;
}