html {
    box-sizing: border-box;
}
.nav-link {
    font-size: 12px;
}
.navbar p {
    font-size: 12px;
}
.product p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.fa-angrycreative {
    font-size: 36px;
}
.navbar {
    border: solid 1px #ddd;
}